.content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
	background: #fff url(./images/fon.png) repeat-y;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.col-20 {
	width: 20%;
	margin: 0 auto;
}
.col-60 {
	width: 60%;
	margin: 0 auto;
}
.col-33 {
	width: 33%;
	margin: 0 auto;
}

@import "no-sidebar";
