div#mega-menu-wrap-menu-1.mega-menu-wrap {
	background: #4d59a1;
	z-index: 999;
}

ul#mega-menu-menu-1.mega-menu.max-mega-menu.mega-menu-horizontal {
	width: 1320px !important;
	margin: 0 auto !important;
}
