.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	background: #f6f6f6;
}

.page {
	background: #f6f6f6;
}

.post {
	padding: 0 20px 0 50px;
	background: #fff url(./images/fon.png) repeat-y;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#top_row,
#primary,
.primary-secondary-modules {
	float: left;
	padding: 0;

	@include breakpoint(bg) {
		width: 962px;
	}
	@include breakpoint(lg) {
		width: 690px;
	}
	@include breakpoint(md) {
		width: 690px;
	}
	@include breakpoint(sm) {
		width: 390px;
	}
	@include breakpoint(xs) {
		width: 94%;
		@include font-size(0.9);
		float: none;
		margin: auto;
	}
}

.primary-module {
	float: left;
	width: 720px;
	border-bottom: 1px solid #dedede;
}

.secondary-module {
	float: right;
	width: 241px;
	border-left: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	display: block;
}

.site-content,
.site-info,
.site-branding,
#primary-menu,
.site-footer {
	@include center-block;
	@include breakpoint(bg) {
		width: 1320px;
	}
	@include breakpoint(lg) {
		width: 1170px;
	}
	@include breakpoint(md) {
		width: 1010px;
	}
	@include breakpoint(sm) {
		width: 758px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}

.site-content {
	background: #fff;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: solid 1px #e0e0e0;
}

#secondary,
.top_list {
	//margin: 0 auto;
	float: right;
	@include breakpoint(bg) {
		width: 358px;
	}
	@include breakpoint(lg) {
		width: 358px;
	}
	@include breakpoint(md) {
		width: 358px;
	}
	@include breakpoint(sm) {
		width: 358px;
	}
	@include breakpoint(xs) {
		width: 94%;
		@include font-size(0.9);
	}
}

.hero_full_width {
	clear: both;
	position: relative;
	background: #fff;
	margin-top: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

.footer {
	min-height: 44px;
	margin: 0 auto;
	position: relative;
	display: block;
}

.post-content {
	@include center-block;
	@include breakpoint(bg) {
		width: 1170px;
	}
	@include breakpoint(lg) {
		width: 1170px;
	}
	@include breakpoint(md) {
		width: 1010px;
	}
	@include breakpoint(sm) {
		width: 758px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}
#primary-post {
	float: left;
	padding: 0;
	//background: #fff;
	background: #fff url(./images/fon.png) repeat-y;

	@include breakpoint(bg) {
		width: 810px;
	}
	@include breakpoint(lg) {
		width: 690px;
	}
	@include breakpoint(md) {
		width: 690px;
	}
	@include breakpoint(sm) {
		width: 390px;
	}
	@include breakpoint(xs) {
		width: 94%;
		@include font-size(0.9);
		float: none;
		margin: auto;
	}
}

.post-wrap {
	//width: 1170px;
	margin: 0 75px;
	background: #fff;
	display: block;
	overflow: hidden;
}

.home-post {
	background: #bbb;
}

.full-page {
	background: #f6f6f6;
}
