.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	background: #f6f6f6;
}

.page {
	background: #f6f6f6;
}

.post {
	padding: 0 20px 0 50px;
	background: #fff url(./images/fon.png) repeat-y;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#top_row,
#primary,
.primary-secondary-modules {
	float: left;
	padding: 0;

	@include breakpoint(bg) {
		width: 962px;
	}
	@include breakpoint(lg) {
		width: 962px;
	}
	@include breakpoint(md) {
		width: 810px;
	}
	@include breakpoint(sm) {
		width: 390px;
	}
	@include breakpoint(xs) {
		width: 94%;
		@include font-size(0.9);
		float: none;
		margin: auto;
	}
}

.primary-module {
	float: left;
	border-bottom: 1px solid #dedede;
	@include breakpoint(bg) {
		width: 720px;
	}
	@include breakpoint(lg) {
		width: 720px;
	}
	@include breakpoint(md) {
		width: 588px;
	}
	@include breakpoint(sm) {
		width: 588px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}

.secondary-module {
	float: right;
	border-left: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	display: block;
	@include breakpoint(bg) {
		width: 241px;
	}
	@include breakpoint(lg) {
		width: 241px;
	}
	@include breakpoint(md) {
		width: 221px;
	}
	@include breakpoint(sm) {
		width: 221px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}

.site-content,
.site-info,
.site-branding,
#primary-menu,
.site-footer {
	@include center-block;
	@include breakpoint(bg) {
		width: 1320px;
	}
	@include breakpoint(lg) {
		width: 1262px;
	}
	@include breakpoint(md) {
		width: 1110px;
	}
	@include breakpoint(sm) {
		width: 758px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}

.site-content {
	background: #fff;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: solid 1px #e0e0e0;
	position: relative;
}

#secondary,
.top_list {
	//margin: 0 auto;
	float: right;
	@include breakpoint(bg) {
		width: 358px;
	}
	@include breakpoint(lg) {
		width: 300px;
	}
	@include breakpoint(md) {
		width: 300px;
	}
	@include breakpoint(sm) {
		width: 300px;
	}
	@include breakpoint(xs) {
		width: 94%;
		@include font-size(0.9);
	}
}

.hero_full_width {
	clear: both;
	position: relative;
	background: #fff;
	margin-top: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

.footer {
	min-height: 44px;
	margin: 0 auto;
	position: relative;
	display: block;
}

.post-content {
	@include center-block;
	@include breakpoint(bg) {
		width: 1170px;
	}
	@include breakpoint(lg) {
		width: 1170px;
	}
	@include breakpoint(md) {
		width: 1170px;
	}
	@include breakpoint(sm) {
		width: 758px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}
#primary-post {
	float: left;
	padding: 0;
	//background: #fff;
	background: #fff url(./images/fon.png) repeat-y;

	@include breakpoint(bg) {
		width: 810px;
	}
	@include breakpoint(lg) {
		width: 810px;
	}
	@include breakpoint(md) {
		width: 660px;
	}
	@include breakpoint(sm) {
		width: 390px;
	}
	@include breakpoint(xs) {
		width: 94%;
		@include font-size(0.9);
		float: none;
		margin: auto;
	}
}

.post-wrap {
	//width: 1170px;
	margin: 0 75px;
	background: #fff;
	display: block;
	overflow: hidden;
}

.home-post {
	background: #bbb;
}

.full-page {
	background: #f6f6f6;
}

.category-main,
#category-primary {
	width: 840px;
	margin-top: 10px;
	//position: relative;
}
.category-primary-wrapper,
.category-primary {
	background: #fff;
	z-index: 15;
	overflow: hidden;
	height: 100%;
	float: left;
	margin-left: 120px;
	@include breakpoint(bg) {
		width: 840px;
	}
	@include breakpoint(lg) {
		width: 840px;
	}
	@include breakpoint(md) {
		width: 690px;
	}
	@include breakpoint(sm) {
		width: 758px;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}
.suspender-color {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 10px;
	width: 120px;
	background-color: #4d59a1;
}

.suspender-section-name {
	color: inherit;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	margin: 0;
	padding: 15px 10px 10px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	color: #fff;
}

.ssns-items {
	border-bottom: 1px solid rgba(255, 255, 225, 0.14);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 120px;
}
